html{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
h1{
  margin:0;
  padding-top:20px;
}
body {
  height:100%;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin:0;
}
#calendar {
  margin:auto;
  width: 90%;
  height:800px;
  max-height:80vh;
}